---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/jin.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<h1 class="title">About</h1>
	<div class="space-y-6">
		<div class="flex justify-center my-4">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
				fetchpriority="high"
			/>
		</div>
		<div>
			
		</div>
		<p>
			Hey there! I'm Jin, and I'm thrilled to take you on a flavorful adventure through my world of culinary delights.
		</p>
		<p>
			Picture this: Prep stations buzzing, ingredients neatly stocked, and the sweet aroma of desserts wafting through the air. That's where I thrive. I've had the incredible opportunity to dive headfirst into the culinary world, wearing multiple hats along the way.
		</p>
		<p>
			Now, let's talk about my true love – desserts. From whipping up mouthwatering desserts to crafting beautiful salads, I've had a blast. But what truly sets my heart aflutter is dessert artistry. Whether it's plating a delicate masterpiece or conjuring up innovative dessert menus, I've got a sweet tooth that's contagious.
		</p>


		<!-- <p>Here are my some of my awesome built in features:</p>
		<ul class="list-inside list-disc">
			<li>I'm ultra fast as I'm a static site</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul>
		<p>
			Clone or fork my <a
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">repo</a
			> if you like me!
		</p> -->
	</div>
</PageLayout>
